@@charset "UTF-8";
body {
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background: #FAFBFD;
    color: #618BAD;
    font-weight: 500;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(178, 178, 178, 0.3);
    -moz-box-shadow: 0px 1px 2px 0px rgba(178, 178, 178, 0.3);
    box-shadow: 0px 1px 2px 0px rgba(178, 178, 178, 0.3);
}

header .head {
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -23.8px;
    font-size: 17px;
}

header .new {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 18px;
}

header .new a {
    font-size: 18px;
    text-decoration: none;
    color: #618BAD;
}

.overlay header .closebtn {
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 18px;
}

.overlay header .closebtn a {
    font-size: 18px;
    text-decoration: none;
}

.overlay header .save {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 18px;
}

.overlay header .save button {
    font-size: 18px;
    text-decoration: none;
    color: #618BAD;
    background: none;
    border: 0px;
}

.overlay header .head {
    position: absolute;
    top: 15px;
    left: 50%;
    margin-left: -43.6px;
    font-size: 17px;
}

.overlay-content input {
    width: 100%;
    height: 56px;
    border: 0px;
    font-size: 18px;
    font-weight: 400;
    color: #618BAD;
    padding: 20px;
}

section .subhead {
    width: 100%;
    height: 28px;
    background: #E7EFF6;
    font-size: 14px;
    color: #8EABC3;
    font-weight: 400;
    padding: 7px 0 0 14px;
}

ul.todo li {
    width: 100%;
    height: 90px;
    background: #fff;
}

ul.todo li:before {
    content: '';
    width: 100%;
    height: 2px;
    background: #E7EFF6;
    position: absolute;
}

ul.todo li div.content {
    color: #618BAD;
    font-size: 18px;
    font-weight: 500;
    float: left;
    position: relative;
    top: 36px;
    left: 30px;
}

ul.todo#done li div.content {
    color: #618BAD;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    text-decoration: line-through;
    float: left;
    position: relative;
    top: 36px;
    left: 30px;
}

ul.todo li div.duedate {
    color: #618BAD;
    font-size: 14px;
    font-weight: 300;
    float: right;
    position: relative;
    top: 36px;
    right: 10px;
}

ul.todo li div.check {
    float: left;
    width: 35px;
    height: 35px;
    padding: 30px 0 0 15px;
    border: 0px;
}

ul.todo li div.check button {
    background: none;
    border: 0px;
}

ul.todo li div.check svg {
    width: 35px;
    height: 35px;
    border: 0px;
    outline: 0px;
}

ul.todo li div.check svg .fill {
    fill: #fff;
}

ul.todo li div.check svg {
    width: 35px;
    height: 35px;
    border: 0px;
    outline: 0px;
}

ul.todo#done li div.check svg {
    width: 35px;
    height: 35px;
    border: 0px;
    outline: 0px;
}

ul.todo#done li div.check svg .fill {
    fill: #618BAD;
    border: 0px;
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    background-color: #E7EFF6;
    /* Black fallback color */
    background-color: #E7EFF6;
    /* Black w/opacity */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    transition: 0.2s;
    /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}


/* Position the content inside the overlay */

.overlay-content {
    position: relative;
    top: 25%;
    /* 25% from the top */
    width: 100%;
    /* 100% width */
    text-align: center;
    /* Centered text/links */
    margin-top: 30px;
    /* 30px top margin to avoid conflict with the close button on smaller screens */
}


/* iOS 8 Pure CSS Switch -- */

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-transition: 400ms all;
    transition: 400ms all;
    margin: 0 auto 0 auto;
    display: block;
    border-radius: 50px;
    background: white;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .1);
    width: 56px;
    height: 36px;
    outline: 0;
    cursor: pointer;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    animation: input 4s;
    padding: 0px;
}

input[type="checkbox"]:checked, input[type="checkbox"].checked {
    background: #A6C0D6;
    box-shadow: inset 0 0 0 15px #A6C0D6;
    transition: 250ms all;
}

input[type="checkbox"]::before {
    content: '';
    transition: 300ms all;
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: auto;
    transform: translate(0, 0);
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 40px;
    background: #FFFFFF;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.06), 0 0 0 0 rgba(0, 0, 0, 0.06), 0 6px 10px 0 rgba(0, 0, 0, 0.15), 0 0 2px 0 rgba(0, 0, 0, 0.07), 0 4px 6px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.11);
    animation: button 3s ease-out;
}

input[type="checkbox"]:checked::before, input[type="checkbox"].checked::before {
    transform: translate(20px, 0);
}


/* input[type="checkbox"]:active::before {
  width: 35px;
}
input[type="checkbox"]:checked:active::before, input[type="checkbox"].checked:active::before {
  transform: translate(17px,0)
} */

input[type="checkbox"].red:checked {
    background: #FF4F2F;
    box-shadow: inset 0 0 0 15px #FF4F2F;
}

input[type="checkbox"].orange:checked {
    background: #FFAC42;
    box-shadow: inset 0 0 0 15px #FFAC42;
}

input[type="checkbox"].yellow:checked {
    background: #FFE842;
    box-shadow: inset 0 0 0 15px #FFE842;
}

input[type="checkbox"].green:checked {
    background: #50DF3D;
    box-shadow: inset 0 0 0 15px #50DF3D;
}

input[type="checkbox"].blue:checked {
    background: #40A7ED;
    box-shadow: inset 0 0 0 15px #40A7ED;
}

input[type="checkbox"].purple:checked {
    background: #AF57EC;
    box-shadow: inset 0 0 0 15px #AF57EC;
}


/* CUSTOM COLOR: Un-comment to use. Replace [..COLOR..] with your color in any acceptable HTML color format. -- */


/* input[type="checkbox"]:checked { background: [..COLOR..]; box-shadow: inset 0 0 0 15px [..COLOR..]; } */


/* -- CUSTOM COLOR */


/* -- iOS 8 Pure CSS Switch */


/* Other page stuff -- */

h1#header {
    text-align: center;
    font-family: Raleway;
    margin: 0 0 30px 0;
    font-size: 50px;
    font-weight: normal;
    line-height: 50px;
    color: black;
    /* animation: header 10s; */
}

#webkit {
    background: rgba(255, 0, 0, .7);
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    opacity: 0;
    height: 0;
    border: 1px solid red;
    border-radius: 2px;
    padding: 0 5px;
    color: white;
    margin: 0 auto 0 auto;
    width: 450px;
    text-align: center;
    display: block;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    animation: message 10s;
    font-family: sans-serif;
}

@keyframes 'message' {
    0% {
        opacity: 0;
        height: 0px;
        margin: 0 auto 0 auto;
        padding: 0 5px;
    }
    5% {
        opacity: 1;
        height: 18px;
        margin: 0 auto 15px auto;
        padding: 5px 5px;
    }
    95% {
        opacity: 1;
        height: 18px;
        margin: 0 auto 15px auto;
        padding: 5px 5px;
    }
    100% {
        opacity: 0;
        height: 0;
        margin: 0 auto 0 auto;
        padding: 0 5px;
    }
}

@keyframes 'input' {
    0% {
        opacity: 0;
        background: white;
        box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .1);
        pointer-events: none;
    }
    20% {
        opacity: 0;
        background: white;
        box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .1);
        pointer-events: none;
    }
    100% {
        background: white;
        opacity: 1;
        box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .1);
        pointer-events: auto;
    }
}

.duedates {
    width: 100%;
    height: 56px;
    background: #fff;
    margin-top: 30px;
}

.datebox {
    width: 100%;
    height: 56px;
    background: #fff;
}

.duedates .content {
    color: #618BAD;
    font-size: 18px;
    font-weight: 400;
    padding: 20px;
    float: left;
}

.duedates .checkbox {
    position: relative;
    top: 10px;
    right: 50px;
    float: right;
}

.datebox .content {
    color: #618BAD;
    font-size: 18px;
    position: absolute;
    padding: 15px 0 0 20px;
}

.datebox .datepick {
    float: left;
    position: relative;
    left: 30px;
}

.datepick {
    width: 60%;
    float: left;
}

.datepick input {
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}
